# Historical Data

Historical data can be obtained by ``iexfinance`` using the ``get_historical_data`` function. This function provides daily open, high, low, and close (OHLC) prices as well as volume data.

## Stocks

### Basic Example

The default action of ``get_historical_data`` provides pricing data from January 1, 2015 to the present day:

In [1]:
from iexfinance import get_historical_data

In [2]:
get_historical_data("AAPL", output_format='pandas').head()

                open      high       low     close    volume
date
2015-01-02  104.2471  104.2939  100.4662  102.3192  53204626
2015-01-05  101.3459  101.6828   98.6506   99.4367  64285491
2015-01-06   99.7082  100.5411   97.9206   99.4461  65797116
2015-01-07  100.3258  101.2617   99.8532  100.8406  40105934
2015-01-08  102.2257  104.9584  101.7296  104.7151  59364547

To obtain daily prices for Apple Inc. (AAPL) for year-to-date (YTD) 2018, we could do the following, using ``datetime.datetime`` objects to specify a date range for retrieval:

In [3]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime.today()

get_historical_data("AAPL", start, end, output_format='pandas').head()

                open      high       low     close    volume
date
2018-01-02  168.2280  170.3437  167.3382  170.3042  25555934
2018-01-03  170.5711  172.5682  170.0076  170.2745  29517899
2018-01-04  170.5810  171.5005  170.1262  171.0654  22434597
2018-01-05  171.4708  173.3789  171.0852  173.0131  23660018
2018-01-08  172.3705  173.6162  171.9552  172.3705  20567766

### Multiple Symbols

The process for obtaining data for multiple symbols is largely the same. Simply pass a list-like object (list, Pandas Series, DataFrame, etc.) to ``get_historical_data``.

In [4]:
get_historical_data(["AAPL", "TSLA", "MSFT"], output_format='pandas')

{'AAPL':                 open      high       low     close     volume
 date
 2015-01-02  104.2471  104.2939  100.4662  102.3192   53204626
 2015-01-05  101.3459  101.6828   98.6506   99.4367   64285491
 2015-01-06   99.7082  100.5411   97.9206   99.4461   65797116
 2015-01-07  100.3258  101.2617   99.8532  100.8406   40105934
 2015-01-08  102.2257  104.9584  101.7296  104.7151   59364547
 2015-01-09  105.4451  105.9879  103.1428  104.8274   53699527
 2015-01-12  105.3796  105.4076  101.8232  102.2444   49650790
 2015-01-13  104.2846  105.5667  101.9262  103.1522   67091928
 2015-01-14  102.0478  103.4049  101.5425  102.7591   48956588
 2015-01-15  102.9463  103.0024   99.8205   99.9702   60013996
 2015-01-16  100.1667  100.6815   98.4541   99.1934   78513345
 2015-01-20  100.9248  101.9792   99.6707  101.7484   49899907
 2015-01-21  101.9636  103.9383  101.3272  102.5251   48575897
 2015-01-22  103.1896  105.2579  102.6842  105.1924   53796409
 2015-01-23  105.0988  106.4558  104.3782  105.7352   46464828
 2015-01-26  106.4465  107.0291  105.5667  105.8475   55614979
 2015-01-27  105.2111  105.2672  102.0385  102.1414   95568749
 2015-01-28  110.0823  110.5456  107.9158  107.9158  146477063
 2015-01-29  108.8610  111.5470  108.1497  111.2756   84436432
 2015-01-30  110.8076  112.3050  109.3570  109.6471   83745461
 2015-02-02  110.4801  111.5283  108.6364  111.0229   62739100
 2015-02-03  110.9012  111.4534  110.0683  111.0416   51915749
 2015-02-04  110.9012  112.7823  110.7225  111.8932   70149743
 2015-02-05  112.7670  112.9643  112.0436  112.6919   42246245
 2015-02-06  112.7670  112.9831  111.2919  111.7429   43706567
 2015-02-09  111.3859  112.5979  111.2731  112.4852   38889797
 2015-02-10  112.9080  114.7683  112.8986  114.6462   62008506
 2015-02-11  115.3509  117.3709  115.0972  117.3333   73561797
 2015-02-12  118.4420  119.7762  117.9816  118.8179   74474466
 2015-02-13  119.5883  119.5883  118.0568  119.4004   54272219
 ...              ...       ...       ...       ...        ...
 2018-09-24  216.8200  221.2600  216.6300  220.7900   27693358
 2018-09-25  219.7500  222.8200  219.7000  222.1900   24554379
 2018-09-26  221.0000  223.7500  219.7600  220.4200   23984706
 2018-09-27  223.8200  226.4400  223.5400  224.9500   30181227
 2018-09-28  224.7900  225.8400  224.0200  225.7400   22929364
 2018-10-01  227.9500  229.4200  226.3500  227.2600   23600802
 2018-10-02  227.2500  230.0000  226.6300  229.2800   24788170
 2018-10-03  230.0500  233.4700  229.7800  232.0700   28654799
 2018-10-04  230.7800  232.3500  226.7300  227.9900   32042000
 2018-10-05  227.9600  228.4100  220.5800  224.2900   33580463
 2018-10-08  222.2100  224.8000  220.2000  223.7700   29663923
 2018-10-09  223.6400  227.2700  222.2462  226.8700   26891029
 2018-10-10  225.4600  226.3500  216.0500  216.3600   41990554
 2018-10-11  214.5200  219.5000  212.3200  214.4500   53124392
 2018-10-12  220.4200  222.8800  216.8400  222.1100   40337851
 2018-10-15  221.1600  221.8300  217.2700  217.3600   30791007
 2018-10-16  218.9300  222.9900  216.7627  222.1500   29183963
 2018-10-17  222.3000  222.6400  219.3400  221.1900   22885397
 2018-10-18  217.8600  219.7400  213.0000  216.0200   32581315
 2018-10-19  218.0600  221.2600  217.4300  219.3100   33078726
 2018-10-22  219.7900  223.3600  218.9400  220.6500   28792082
 2018-10-23  215.8300  223.2500  214.7000  222.7300   38767846
 2018-10-24  222.6000  224.2300  214.5400  215.0900   40925163
 2018-10-25  217.7100  221.3800  216.7500  219.8000   29855768
 2018-10-26  215.9000  220.1900  212.6700  216.3000   47258375
 2018-10-29  219.1900  219.6900  206.0900  212.2400   45935520
 2018-10-30  211.1500  215.1800  209.2700  213.3000   36659990
 2018-10-31  216.8800  220.4500  216.6200  218.8600   38358933
 2018-11-01  219.0500  222.3600  216.8100  222.2200   58323180
 2018-11-02  209.5500  213.6500  205.4300  207.4800   91328654

 [968 rows x 5 columns],
 'TSLA':               open      high       low    close    volume
 date
 2015-01-02  222.87  223.2500  213.2600  219.310   4764443
 2015-01-05  214.55  216.5000  207.1626  210.090   5368477
 2015-01-06  210.06  214.2000  204.2100  211.280   6261936
 2015-01-07  213.35  214.7800  209.7800  210.950   2968390
 2015-01-08  212.81  213.7999  210.0100  210.615   3442509
 2015-01-09  208.92  209.9800  204.9600  206.660   4668295
 2015-01-12  203.05  204.4700  199.2500  202.210   5950280
 2015-01-13  203.32  207.6100  200.9110  204.250   4477320
 2015-01-14  185.83  195.2000  185.0000  192.690  11551855
 2015-01-15  194.49  195.7499  190.0000  191.870   5216524
 2015-01-16  190.70  194.4900  189.6500  193.070   3603158
 2015-01-20  193.87  194.1199  187.0400  191.930   4503182
 2015-01-21  189.55  198.6800  189.5100  196.570   4153043
 2015-01-22  197.00  203.2400  195.2000  201.620   4116905
 2015-01-23  200.29  203.5000  198.3300  201.290   3442371
 2015-01-26  201.83  208.6200  201.0500  206.550   3234522
 2015-01-27  204.42  208.0300  203.3000  205.980   2781024
 2015-01-28  206.11  206.3680  198.4200  199.370   3149606
 2015-01-29  201.07  205.9800  196.5000  205.200   3548106
 2015-01-30  203.96  207.4700  203.0000  203.600   3006959
 2015-02-02  203.97  211.9499  203.3000  210.940   4149186
 2015-02-03  213.22  220.3700  211.2700  218.360   4826244
 2015-02-04  218.29  221.4790  216.8000  218.550   3305377
 2015-02-05  219.88  225.4800  219.6380  220.990   3522947
 2015-02-06  222.00  223.4000  216.5001  217.360   3243931
 2015-02-09  215.38  217.9300  211.9900  217.480   3472423
 2015-02-10  217.55  220.5000  215.0000  216.290   5390542
 2015-02-11  212.21  214.7400  207.2800  212.800   9769102
 2015-02-12  193.57  203.0882  193.2800  202.880  15649607
 2015-02-13  202.90  205.9900  200.9100  203.770   6191003
 ...            ...       ...       ...      ...       ...
 2018-09-24  298.48  302.9993  293.5800  299.680   4842961
 2018-09-25  300.00  304.6000  296.5000  300.990   4481729
 2018-09-26  301.91  313.8900  301.1093  309.580   7843216
 2018-09-27  312.90  314.9600  306.9100  307.520   8509084
 2018-09-28  270.26  278.0000  260.5550  264.770  33649694
 2018-10-01  305.77  311.4400  301.0500  310.700  21777597
 2018-10-02  313.95  316.8400  299.1500  301.020  11743511
 2018-10-03  303.33  304.6000  291.5700  294.800   7994988
 2018-10-04  293.95  294.0000  277.6700  281.830   9814212
 2018-10-05  274.65  274.8800  260.0000  261.950  17944537
 2018-10-08  264.52  267.7599  249.0000  250.560  13472653
 2018-10-09  255.25  266.7700  253.3000  262.800  12060574
 2018-10-10  264.61  265.5100  247.7700  256.880  12815278
 2018-10-11  257.53  262.2500  249.0300  252.230   8167738
 2018-10-12  261.00  261.9900  252.0100  258.780   7201404
 2018-10-15  259.06  263.2800  254.5367  259.590   6199965
 2018-10-16  265.70  277.3750  262.2400  276.590   9526401
 2018-10-17  282.40  282.7000  265.8032  271.780   8655542
 2018-10-18  269.29  271.0000  263.0000  263.910   5421184
 2018-10-19  267.39  269.6600  253.5000  260.000   9375549
 2018-10-22  260.68  261.8600  252.5900  260.950   5600260
 2018-10-23  263.87  297.9300  262.1000  294.140  19027753
 2018-10-24  301.05  304.4400  285.7300  288.500  20058258
 2018-10-25  317.22  321.0000  301.0100  314.860  20840724
 2018-10-26  308.25  339.9000  306.6500  330.900  27425520
 2018-10-29  337.47  347.1600  326.5000  334.850  14486027
 2018-10-30  328.39  337.8999  322.2600  329.900   9126704
 2018-10-31  332.54  342.0000  329.1000  337.320   7624348
 2018-11-01  338.26  347.8400  334.7250  344.280   8000132
 2018-11-02  343.74  349.2000  340.9100  346.410   7807971

 [968 rows x 5 columns],
 'MSFT':                 open      high       low     close     volume
 date
 2015-01-02   42.6924   43.3878   42.5826   42.7839   27913852
 2015-01-05   42.4271   42.7564   42.3173   42.3859   39673865
 2015-01-06   42.4362   42.7738   41.6676   41.7683   36447854
 2015-01-07   42.0702   42.5094   41.6219   42.2990   29114061
 2015-01-08   42.7747   43.6896   42.7473   43.5433   29645202
 2015-01-09   43.5616   43.7538   42.9120   43.1773   23944181
 2015-01-12   43.3878   43.4976   42.4179   42.6375   23651887
 2015-01-13   42.9760   43.8361   42.1434   42.4133   35270601
 2015-01-14   42.0519   42.3081   41.7408   42.0473   29719580
 2015-01-15   42.2898   42.4362   41.5487   41.6127   32750779
 2015-01-16   41.4572   42.3447   41.3291   42.3081   35695289
 2015-01-20   42.3630   42.6832   41.6951   42.4453   36161860
 2015-01-21   42.0336   42.2166   41.6127   42.0153   39081143
 2015-01-22   42.4362   43.1270   42.1617   43.1224   35898035
 2015-01-23   43.3329   43.3603   42.8205   43.1682   26211594
 2015-01-26   43.0035   43.1260   42.3080   43.0126   42525530
 2015-01-27   39.2979   39.5266   38.5247   39.0325  169163953
 2015-01-28   39.1057   39.1515   37.6601   37.6875   84507078
 2015-01-29   37.4496   38.5384   37.3215   38.4378   63585273
 2015-01-30   38.0169   38.0444   36.9189   36.9647   78004944
 2015-02-02   37.1385   37.8522   36.8092   37.7699   50352532
 2015-02-03   38.0901   38.3646   37.5548   38.0627   52082448
 2015-02-04   38.3737   38.6208   37.8431   38.2822   41614812
 2015-02-05   38.6299   39.0142   38.2960   38.8404   36548168
 2015-02-06   39.0508   39.1515   38.5659   38.8038   34616554
 2015-02-09   38.6482   39.1057   38.6208   38.7580   31381061
 2015-02-10   39.1057   39.1332   38.5933   38.9776   29670676
 2015-02-11   39.0234   39.0234   38.6208   38.7763   38262509
 2015-02-12   39.0325   39.4260   38.8953   39.4260   33268831
 2015-02-13   39.6913   40.1396   39.4809   40.1396   40264887
 ...              ...       ...       ...       ...        ...
 2018-09-24  113.0300  114.9000  112.2175  114.6700   27334460
 2018-09-25  114.8000  115.1000  113.7500  114.4500   22668014
 2018-09-26  114.4700  115.0550  113.7400  113.9800   19352025
 2018-09-27  114.7800  114.9100  114.2000  114.4100   19091299
 2018-09-28  114.1900  114.5700  113.6800  114.3700   21647811
 2018-10-01  114.7500  115.6800  114.7300  115.6100   18883079
 2018-10-02  115.3000  115.8400  114.4400  115.1500   20787239
 2018-10-03  115.4200  116.1800  114.9300  115.1700   16648018
 2018-10-04  114.6100  114.7588  111.6300  112.7900   34821717
 2018-10-05  112.6300  113.1700  110.6400  112.1300   29068859
 2018-10-08  111.6600  112.0300  109.3400  110.8500   29640588
 2018-10-09  111.1400  113.0800  110.8000  112.2600   26198594
 2018-10-10  111.2400  111.5000  105.7900  106.1600   61376315
 2018-10-11  105.3500  108.9300  104.2000  105.9100   63904282
 2018-10-12  109.0100  111.2400  107.1200  109.5700   47742109
 2018-10-15  108.9100  109.4800  106.9468  107.6000   32068103
 2018-10-16  109.5400  111.4100  108.9500  111.0000   31610164
 2018-10-17  111.6800  111.8100  109.5482  110.7100   26548243
 2018-10-18  110.1000  110.5300  107.8300  108.5000   32506192
 2018-10-19  108.9300  110.8600  108.2100  108.6600   32785475
 2018-10-22  109.3200  110.5400  108.2400  109.6300   26545607
 2018-10-23  107.7700  108.9700  105.1100  108.1000   43770429
 2018-10-24  108.4100  108.4900  101.5901  102.3200   63897759
 2018-10-25  106.5500  109.2700  106.1500  108.3000   61646819
 2018-10-26  105.6900  108.7500  104.7600  106.9600   55523104
 2018-10-29  108.1050  108.7000  101.6300  103.8500   55162001
 2018-10-30  103.6600  104.3800  100.1100  103.7300   65350878
 2018-10-31  105.4350  108.1400  105.3900  106.8100   51062383
 2018-11-01  107.0500  107.3200  105.5300  105.9200   33384201
 2018-11-02  106.4800  107.3200  104.9750  106.1600   37680194

 [968 rows x 5 columns]}

This returns a dictionary of DataFrames indexed by each symbol specified.